.component-border-top {
  border-top: 1.5rem solid;
  border-top-color: #1A1623;
}

.chipped-card {
  clip-path: polygon(
      0 0,
      calc(100% - 40px) 0,
      100% 40px,
      100% 100%,
      40px 100%,
      0% calc(100% - 40px)
  );
}
